<% provide(:title, 'Capture') %>
<h1>パケット一覧</h1>

<table border="1">
  <tr>
    <th>デバイス名</th> <th>送信元のMACアドレス</th> <th>RSSI</th> <th>SNR</th> <th>受信日時</th>
  </tr>
  <% @captures.each do |capture| %>
    <tr>
      <td align="center"><%= capture.pcdev %></td>
      <td align="center"><%= capture.mac %></td>
      <td align="center"><%= capture.rssi %>dBm</td>
      <td align="center"><%= capture.created_at %></td>
    </tr>
  <% end %>
</table>
